
  body {
    background: linear-gradient(to top, #0f0c29, #302b63, #24243e);
    align-items: center;
    justify-content: center;
    padding-top: 60px;
  }
  section {
    color: #ffffff;
    text-align: center;
  }
  #date {
    font-size: 2.5rem;
  }
  #time {
    font-size: 4rem;
  }
  small {
    font-size: 4rem;
  }

  footer{
    padding-top: 10px;
}